:root {
    --btn: hsl(322, 100%, 66%);
    --btn-hover: hsl(321, 100%, 78%);
    --message-error: hsl(0, 100%, 63%);
    --primary-color: hsl(192, 100%, 9%);
    --secondary-color: hsl(207, 100%, 98%);
}
