@use '../util' as *;

h1,
h2,
h3 {
    font-family: var(--font-headings);
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}
